# =========================
# ML artifacts
# =========================
scorer.keras
scaler.pkl
affinities.json

# =========================
# Test artifacts
# =========================
test.db

# =========================
# Virtual environment
# =========================
venv/

# =========================
# Environment variables / secrets
# =========================
.env
.env.env

# =========================
# ML experiment scripts
# =========================
simulate.py
populate.py
dataset.py
train.py

# Python cache
__pycache__/
*.py[cod]