# =========================
# Test artifacts
# =========================
test.db
backend/tests/load/results/

# =========================
# Virtual environment
# =========================
venv/

# =========================
# Environment variables / secrets
# =========================
.env
.env.env

# Python cache
__pycache__/
*.py[cod]